
<dx-tile-view class="dx-tile-content"
              [dataSource]="items"
              height="90%" direction="vertical"
              showScrollbar="onHover"
              [baseItemHeight]="150"  [itemMargin]="10"
              itemTemplate="list-item"
              (onItemClick)="showGallery($event.itemIndex)">

  <div *dxTemplate="let data of 'list-item'; let index = index" style="display: flex; flex-direction: column; background: darkslategray">
    <img [src]="data.imageSrc" >
    <div style="font-weight: 400; color: white">{{data.author}}</div>
  </div>
</dx-tile-view>
