<div style="display: flex">

  <div style="width: 320px; display: flex; flex-direction: column">
    <div style="font-size: xx-large; font-weight: 500; text-align: center">{{francobollo.author}}</div>
    <img [src]="francobollo.imageSrc" width="100%">
  </div>

  <!--form (submit)="onFormSubmit($event)">
    <dx-form [formData]="francobollo" (onFieldDataChanged)="fieldChanged($event)">
      <dxi-item dataField="author" editorType="dxAutocomplete"
                label="Автор" [isRequired]="true"></dxi-item>
      <dxi-item dataField="issuedCountry" editorType="dxSelectBox"
                [editorOptions]="{dataSource="fs.getCountries()}"
                label="Страна, выпустившая марку" [isRequired]="true"></dxi-item>
      <dxi-item dataField="issueYear" label="Год выпуска"></dxi-item>
      <dxi-item dataField="description" label="Описание"></dxi-item>
      <dxi-item itemType="button" horizontalAlignment="center"
                [buttonOptions]="{text: 'Сохранить',type: 'success',useSubmitBehavior: true}"></dxi-item>
    </dx-form>
  </form-->

    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label">Автор (фио)</div>
        <div class="dx-field-value">
          <dx-autocomplete
            placeholder="Введите фамилию (имя)"
            [(value)]="francobollo.author"
            [dataSource]="fs.getAuthors()"
            (onValueChanged)="authorChanged()"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Обязательно для заполнения"></dxi-validation-rule>
            </dx-validator>
          </dx-autocomplete>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">Страна, выпустившая марку</div>
        <div class="dx-field-value">
            <dx-select-box
              [searchEnabled]="true"
              [acceptCustomValue]="true"
              placeholder="Выберите страну"
              [dataSource]="fs.getCountries()"
              [(value)]="francobollo.issuedCountry"
              (onCustomItemCreating)="addCountry($event)"
            >
              <dx-validator>
                <dxi-validation-rule type="required" message="Обязательно для заполнения"></dxi-validation-rule>
              </dx-validator>
            </dx-select-box>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">Год выпуска</div>
        <div class="dx-field-value">
            <dx-number-box type="fixedPoint" [(value)]="francobollo.issueYear!">
            </dx-number-box>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">Описание</div>
        <div class="dx-field-value">
            <dx-text-area height="70" [(value)]="francobollo.description!" >
            </dx-text-area>
        </div>
      </div>

      <dx-button text="Сохранить" type="success" style="margin-left: 30px"
                 (onClick)="saveItem()"
                 [disabled]="!francobollo.imageSrc || !francobollo.author || !francobollo.issuedCountry">
      </dx-button>

    </div>

</div>
