<div *ngIf="francobollo" style="display: flex; width: 100%">

  <div style="width: 260px; max-height: 360px; display: flex; flex-direction: column">
    <div style="font-weight: 500; text-align: center">{{francobollo.author}}</div>
    <img [src]="francobollo.imageSrc" width="100%">
  </div>

    <div class="dx-fieldset" [ngClass]='{editBackColor: editStatus}'>

      <div *ngIf="!fs.currentCatalogName" class="dx-field w-100">
        <div class="dx-field-label">Автор (фио)</div>
        <div class="dx-field-value">
            <dx-select-box
              [searchEnabled]="true"
              required
              [acceptCustomValue]="false"
              placeholder="Введите фамилию (имя)"
              [(value)]="francobollo.author"
              displayExpr="name"
              [searchExpr]="['name', 'alterName']"
              valueExpr="name"
              [dataSource]="fs.catalogAuthors"
              (onValueChanged)="authorChanged()"
            >
              <dx-validator>
                <dxi-validation-rule type="required" message="Обязательно для заполнения"></dxi-validation-rule>
              </dx-validator>
            </dx-select-box>
            <dx-button width="50px" icon="plus" (click)="newAuthorShow=!newAuthorShow"></dx-button>
        </div>

      </div>

      <div *ngIf="newAuthorShow && !fs.currentCatalogName" class="border-1">
        <app-add-author></app-add-author>
      </div>

      <div *ngIf="fs.currentCatalogName" class="dx-field">
        <div class="dx-field-label">Событие</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]="francobollo.author!">
          </dx-text-box>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">Страна, выпустившая марку</div>
        <div class="dx-field-value">
            <dx-select-box
              [searchEnabled]="true"
              [acceptCustomValue]="true"
              placeholder="Выберите страну"
              [dataSource]="fs.allCountries"
              displayExpr="country"
              valueExpr="country"
              [(value)]="francobollo.issuedCountry"
            >
              <dx-validator>
                <dxi-validation-rule type="required" message="Обязательно для заполнения"></dxi-validation-rule>
              </dx-validator>
            </dx-select-box>
        </div>
      </div>

      <div class="row">
        <div class="dx-field-label" style="width: 20%">Год выпуска</div>
        <div class="dx-field-value" style="width: 20%">
            <dx-number-box type="fixedPoint" [(value)]="francobollo.issueYear!" [max]="2088" [min]="1850">
            </dx-number-box>
        </div>

        <div class="dx-field-label" style="width: 15%">Ширина</div>
        <div class="dx-field-value" style="width: 10%">
          <dx-number-box [(value)]="francobollo.widthRatio!">
          </dx-number-box>
        </div>

        <div class="dx-field-label" style="width: 15%">Высота</div>
        <div class="dx-field-value" style="width: 10%">
          <dx-number-box [(value)]="francobollo.heightRatio!">
          </dx-number-box>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">Описание</div>
        <div class="dx-field-value">
            <dx-text-box [(value)]="francobollo.description!">
            </dx-text-box>
        </div>
      </div>


      <div class="dx-field">
        <div class="dx-field-label">Image URL</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]="francobollo.imageSrc!">
          </dx-text-box>
        </div>
      </div>

      <div class="dx-field">
        <dx-button [text]="editStatus ? 'Сохранить' : 'Добавить'"
                   [type]="editStatus ? 'success' : 'danger'"
                   style="margin: 10px; width: 50%"
                   (onClick)="saveItem()"
                   [disabled]="!francobollo.imageSrc || !francobollo.author || !francobollo.issuedCountry">
        </dx-button>
      </div>

    </div>

</div>
