<div style="display: flex">

  <div style="width: 320px; display: flex; flex-direction: column">
    <div style="font-size: xx-large; font-weight: 500; text-align: center">{{francobollo.author}}</div>
    <img [src]="francobollo.imageSrc" width="100%">
  </div>

    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label">Автор (фио)</div>
        <div class="dx-field-value">
          <dx-autocomplete
            placeholder="Введите фамилию (имя)"
            [(value)]="francobollo.author"
            [dataSource]="fs.getAuthors()"
            (onValueChanged)="authorChanged()"
          >
            <dx-validator>
              <dxi-validation-rule type="required" message="Обязательно для заполнения"></dxi-validation-rule>
            </dx-validator>
          </dx-autocomplete>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">Страна, выпустившая марку</div>
        <div class="dx-field-value">
            <dx-select-box
              [acceptCustomValue]="true"
              placeholder="Выберите страну"
              [dataSource]="fs.getCountries()"
              [(value)]="francobollo.issuedCountry"
              (onCustomItemCreating)="addCountry($event)"
            >
              <dx-validator>
                <dxi-validation-rule type="required" message="Обязательно для заполнения"></dxi-validation-rule>
              </dx-validator>
            </dx-select-box>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">Год выпуска</div>
        <div class="dx-field-value">
            <dx-number-box [(value)]="francobollo.issueYear" required="true">
              <dx-validator>
                <dxi-validation-rule type="required" message="Год выпуска обязателен для заполнения"></dxi-validation-rule>
                <dxi-validation-rule type="range" [min]="1860" message="Начиная с 1860"></dxi-validation-rule>
              </dx-validator>
            </dx-number-box>
        </div>
      </div>

      <div class="dx-field">
        <div class="dx-field-label">Описание</div>
        <div class="dx-field-value">
            <dx-text-area height="70" [(value)]="francobollo.description" >
            </dx-text-area>
        </div>
      </div>

      <dx-button text="Сохранить" type="success" style="margin-left: 30px"
                 (onClick)="saveItem()"
                 [disabled]="!francobollo.imageSrc || !francobollo.author || !francobollo.issuedCountry || !francobollo.issueYear">
      </dx-button>

    </div>

</div>
