<dx-tile-view class="dx-tile-content"
              [baseItemHeight]="200"
              [baseItemWidth]="150"
              [itemMargin]="10"
              direction="vertical">

  <dxi-item *ngFor="let francobollo of francobolli; let imgIndex=index"
    [widthRatio]="francobollo.widthRatio"
    [heightRatio]="francobollo.heightRatio"
  >
    <div
      class="image"
      [style.background-image]="'url(' + francobollo.imageSrc + ')'"
      (click)="showGallery(imgIndex)"
    ></div>
  </dxi-item>

</dx-tile-view>

<dx-gallery
  [dataSource]="francobolli"
  [showNavButtons]="true"
  [hoverStateEnabled]="true"
  [stretchImages]="false"
  [height]="200"
  [width]="'80%'"
  [initialItemWidth]="100"
  (onItemClick)="showGallery($event.itemIndex)">
</dx-gallery>
